@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Nova+Square&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* scroll bar */
html {
  scrollbar-width: thin;
  scrollbar-color: #f1c40f #272727;
}

html::-webkit-scrollbar-thumb {
  background-color: #f1c40f;
}

html::-webkit-scrollbar {
  width: 10px;
}

.removeScroll::-webkit-scrollbar {
  display: none;
}
.removeScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*,
*::after,
*::before {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mainStylesDefault {
  @apply md:col-start-2 min-h-[90vh] md:col-end-6 md:pr-4   pt-10 col-span-5;
}

h3 {
  @apply text-2xl;
}

input {
  filter: none;
}

input:autofill {
  background: #314664;
}
